# Extracción, Transformación y Carga (ETL)

En esta sección, daré inicio al proceso de Extracción de Datos con el objetivo de verificar la naturaleza de los datos con los que trabajaré. Posteriormente, llevaré a cabo un análisis detallado y realizaré las métricas asignadas. Este proceso, conocido como ETL, es esencial para preparar los datos de manera adecuada antes de cualquier análisis o interpretación.

In [10]:
# Importo las librerias necesarias.
import pandas as pd
import numpy as np

In [2]:
# Lectura del primer dataframe 'yellow_tripdata_2023-09.parquet'.
# Y visualizacion de las primeras 15 filas.
df= pd.read_parquet('../parquet/yellow_tripdata_2023-09.parquet')
df.head(15)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,1,2023-09-01 00:15:37,2023-09-01 00:20:21,1.0,0.80,1.0,N,163,230,2,6.5,3.5,0.5,0.00,0.00,1.0,11.50,2.5,0.00
1,2,2023-09-01 00:18:40,2023-09-01 00:30:28,2.0,2.34,1.0,N,236,233,1,14.2,1.0,0.5,2.00,0.00,1.0,21.20,2.5,0.00
2,2,2023-09-01 00:35:01,2023-09-01 00:39:04,1.0,1.62,1.0,N,162,236,1,8.6,1.0,0.5,2.00,0.00,1.0,15.60,2.5,0.00
3,2,2023-09-01 00:45:45,2023-09-01 00:47:37,1.0,0.74,1.0,N,141,229,1,5.1,1.0,0.5,1.00,0.00,1.0,11.10,2.5,0.00
4,2,2023-09-01 00:01:23,2023-09-01 00:38:05,1.0,9.85,1.0,N,138,230,1,45.0,6.0,0.5,17.02,0.00,1.0,73.77,2.5,1.75
5,2,2023-09-01 00:05:20,2023-09-01 00:46:57,3.0,12.83,1.0,N,93,75,2,55.5,1.0,0.5,0.00,6.94,1.0,67.44,2.5,0.00
6,1,2023-09-01 00:51:50,2023-09-01 01:10:21,0.0,10.90,1.0,N,93,255,1,41.5,1.0,0.5,3.00,0.00,1.0,47.00,0.0,0.00
7,1,2023-09-01 00:01:04,2023-09-01 00:18:36,1.0,3.90,1.0,N,140,7,1,20.5,3.5,0.5,6.35,0.00,1.0,31.85,2.5,0.00
8,2,2023-09-01 00:37:44,2023-09-01 00:52:24,2.0,2.70,1.0,N,45,164,1,16.3,1.0,0.5,4.26,0.00,1.0,25.56,2.5,0.00
9,2,2023-09-01 00:02:13,2023-09-01 00:07:12,1.0,1.02,1.0,N,238,236,1,7.9,1.0,0.5,2.58,0.00,1.0,15.48,2.5,0.00
10,2,2023-09-01 00:30:18,2023-09-01 00:58:36,1.0,16.66,2.0,N,132,140,2,70.0,0.0,0.5,0.00,0.00,1.0,75.75,2.5,1.75
11,2,2023-09-01 00:08:32,2023-09-01 00:15:58,2.0,1.37,1.0,N,138,138,2,9.3,6.0,0.5,0.00,0.00,1.0,18.55,0.0,1.75
12,2,2023-09-01 00:03:56,2023-09-01 00:23:09,1.0,8.17,1.0,N,138,170,1,33.1,6.0,0.5,8.00,6.94,1.0,59.79,2.5,1.75
13,2,2023-09-01 00:40:28,2023-09-01 00:53:42,1.0,2.31,1.0,N,230,140,1,14.9,1.0,0.5,3.98,0.00,1.0,23.88,2.5,0.00
14,2,2023-09-01 00:57:50,2023-09-01 01:02:37,2.0,0.95,1.0,N,234,186,1,7.2,1.0,0.5,2.44,0.00,1.0,14.64,2.5,0.00

In [3]:
# Hago esta funcion para contar los datos faltantes en cada columna.
def contar_datos_faltantes(df):
    # Contar el número de datos faltantes en cada columna
    datos_faltantes = df.isnull().sum()
    return datos_faltantes

contar_datos_faltantes(df)

VendorID                      0
tpep_pickup_datetime          0
tpep_dropoff_datetime         0
passenger_count          140225
trip_distance                 0
RatecodeID               140225
store_and_fwd_flag       140225
PULocationID                  0
DOLocationID                  0
payment_type                  0
fare_amount                   0
extra                         0
mta_tax                       0
tip_amount                    0
tolls_amount                  0
improvement_surcharge         0
total_amount                  0
congestion_surcharge     140225
Airport_fee              140225
dtype: int64

In [4]:
df.info() # Muestra el tipo de dato de cada columna.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2846722 entries, 0 to 2846721
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int32
 1   tpep_pickup_datetime   datetime64[us]
 2   tpep_dropoff_datetime  datetime64[us]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int32
 8   DOLocationID           int32
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  Airport_fee            float64
dtypes: datetime64[us](2), float64(12), int32(3), int64(1), object(1)
memory usage: 380.1+ MB

In [6]:
# Hago esta funcion para calcular la duracion del viaje.
def calcular_duracion(df, tpep_pickup_datetime, tpep_dropoff_datetime):
    # Uso la funcion to_datetime para convertir las columnas en formato fecha.
    df[tpep_pickup_datetime] = pd.to_datetime(df[tpep_pickup_datetime])
    df[tpep_dropoff_datetime] = pd.to_datetime(df[tpep_dropoff_datetime])
    
    # Calcular la duración
    df['Duracion'] = df[tpep_dropoff_datetime] - df[tpep_pickup_datetime]
    
    return df

calcular_duracion(df, 'tpep_pickup_datetime', 'tpep_dropoff_datetime')

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,Duracion
0,1,2023-09-01 00:15:37,2023-09-01 00:20:21,1.0,0.80,1.0,N,163,230,2,6.50,3.5,0.5,0.00,0.0,1.0,11.50,2.5,0.00,0 days 00:04:44
1,2,2023-09-01 00:18:40,2023-09-01 00:30:28,2.0,2.34,1.0,N,236,233,1,14.20,1.0,0.5,2.00,0.0,1.0,21.20,2.5,0.00,0 days 00:11:48
2,2,2023-09-01 00:35:01,2023-09-01 00:39:04,1.0,1.62,1.0,N,162,236,1,8.60,1.0,0.5,2.00,0.0,1.0,15.60,2.5,0.00,0 days 00:04:03
3,2,2023-09-01 00:45:45,2023-09-01 00:47:37,1.0,0.74,1.0,N,141,229,1,5.10,1.0,0.5,1.00,0.0,1.0,11.10,2.5,0.00,0 days 00:01:52
4,2,2023-09-01 00:01:23,2023-09-01 00:38:05,1.0,9.85,1.0,N,138,230,1,45.00,6.0,0.5,17.02,0.0,1.0,73.77,2.5,1.75,0 days 00:36:42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2846717,2,2023-09-30 23:31:12,2023-09-30 23:48:29,NaN,2.43,NaN,None,125,107,0,17.69,0.0,0.5,4.34,0.0,1.0,26.03,NaN,NaN,0 days 00:17:17
2846718,1,2023-09-30 23:42:18,2023-09-30 23:47:45,NaN,0.00,NaN,None,236,75,0,11.33,0.0,0.5,0.00,0.0,1.0,15.33,NaN,NaN,0 days 00:05:27
2846719,1,2023-09-30 23:03:35,2023-09-30 23:14:50,NaN,1.80,NaN,None,211,90,0,12.10,1.0,0.5,2.57,0.0,1.0,19.67,NaN,NaN,0 days 00:11:15
2846720,2,2023-09-30 23:57:05,2023-10-01 00:17:36,NaN,3.39,NaN,None,209,97,0,20.33,0.0,0.5,4.87,0.0,1.0,29.20,NaN,NaN,0 days 00:20:31
2846721,1,2023-09-30 23:25:47,2023-09-30 23:55:28,NaN,0.00,NaN,None,80,197,0,36.47,0.0,0.5,0.00,0.0,1.0,37.97,NaN,NaN,0 days 00:29:41

In [7]:
# Hago esta funcion para calcular la distancia total recorrida por cada pasajero.
def calcular_distancia_pasajero(df):
    # Agrupar por hvfhs_license_num y sumar trip_distance
    distancia_total = df.groupby('passenger_count')['trip_distance'].sum()
    return distancia_total

calcular_distancia_pasajero(df)

passenger_count
0.0     112099.91
1.0    7428652.85
2.0    1770318.20
3.0     359182.54
4.0     204072.25
5.0     124965.41
6.0      77167.33
7.0         54.67
8.0         62.09
9.0         52.86
Name: trip_distance, dtype: float64

In [8]:
# Hago esta funcion para calcular la distancia media recorrida por cada pasajero.
def calcular_distanciamedia_pasajero(df):
    # Agrupar por hvfhs_license_num y sumar trip_distance
    distancia_total = df.groupby('passenger_count')['trip_distance'].mean()
    return distancia_total

calcular_distanciamedia_pasajero(df)

passenger_count
0.0    2.864368
1.0    3.610126
2.0    4.337431
3.0    3.896577
4.0    4.106743
5.0    3.472998
6.0    3.269802
7.0    4.970000
8.0    4.776154
9.0    6.607500
Name: trip_distance, dtype: float64

In [9]:
# Lectura del segundo dataframe 'fhvhv_tripdata_2023-09.parquet'.
df2=pd.read_parquet('../parquet/fhvhv_tripdata_2023-09.parquet')
df2.head(15) # Visualizacion de las primeras 15 filas.

,hvfhs_license_num,dispatching_base_num,originating_base_num,request_datetime,on_scene_datetime,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,trip_miles,...,sales_tax,congestion_surcharge,airport_fee,tips,driver_pay,shared_request_flag,shared_match_flag,access_a_ride_flag,wav_request_flag,wav_match_flag
0,HV0003,B03404,B03404,2023-09-01 00:00:13,2023-09-01 00:02:47,2023-09-01 00:02:56,2023-09-01 00:14:08,7,226,2.350,...,1.03,0.00,0.0,0.00,9.41,N,N,,N,N
1,HV0003,B03404,B03404,2023-09-01 00:27:24,2023-09-01 00:29:32,2023-09-01 00:29:44,2023-09-01 00:59:58,144,36,6.790,...,2.64,2.75,0.0,7.18,25.97,N,N,,N,N
2,HV0003,B03404,B03404,2023-09-01 00:25:14,2023-09-01 00:27:15,2023-09-01 00:28:01,2023-09-01 00:35:53,186,125,1.610,...,0.97,2.75,0.0,0.00,8.34,N,N,,N,N
3,HV0003,B03404,B03404,2023-09-01 00:31:44,2023-09-01 00:36:51,2023-09-01 00:36:51,2023-09-01 00:46:48,125,148,1.370,...,0.85,0.75,0.0,0.00,7.44,Y,N,,N,N
4,HV0003,B03404,B03404,2023-09-01 00:08:33,2023-09-01 00:10:53,2023-09-01 00:12:28,2023-09-01 00:27:47,170,48,1.290,...,1.45,2.75,0.0,0.00,13.30,N,N,,N,Y
5,HV0003,B03404,B03404,2023-09-01 00:26:26,2023-09-01 00:29:01,2023-09-01 00:31:01,2023-09-01 00:46:50,100,239,2.470,...,2.71,2.75,0.0,5.29,17.70,N,N,,N,Y
6,HV0003,B03404,B03404,2023-09-01 00:06:09,2023-09-01 00:07:40,2023-09-01 00:08:32,2023-09-01 00:24:17,141,238,3.540,...,1.37,2.75,0.0,0.00,15.83,N,N,,N,Y
7,HV0003,B03404,B03404,2023-09-01 00:56:51,2023-09-01 00:59:00,2023-09-01 00:59:57,2023-09-01 01:09:07,89,188,0.910,...,0.75,0.00,0.0,0.00,6.45,N,N,,N,N
8,HV0005,B03406,None,2023-09-01 00:07:31,NaT,2023-09-01 00:11:46,2023-09-01 00:29:56,255,61,3.808,...,1.81,0.00,0.0,0.00,15.38,N,N,N,N,N
9,HV0005,B03406,None,2023-09-01 00:28:32,NaT,2023-09-01 00:36:42,2023-09-01 00:42:00,189,189,0.955,...,0.62,0.00,0.0,0.00,5.47,N,N,N,N,N
10,HV0005,B03406,None,2023-09-01 00:40:04,NaT,2023-09-01 00:44:37,2023-09-01 00:54:36,189,188,1.491,...,0.87,0.00,0.0,0.00,7.66,N,N,N,N,N
11,HV0003,B03404,B03404,2023-09-01 00:22:53,2023-09-01 00:25:11,2023-09-01 00:27:12,2023-09-01 00:41:41,148,170,2.180,...,1.21,2.75,0.0,0.00,11.03,N,N,,N,N
12,HV0003,B03404,B03404,2023-09-01 00:42:55,2023-09-01 00:44:08,2023-09-01 00:46:07,2023-09-01 01:18:27,170,49,7.310,...,2.89,2.75,0.0,3.79,27.85,N,N,,N,N
13,HV0003,B03404,B03404,2023-09-01 00:23:43,2023-09-01 00:30:15,2023-09-01 00:31:04,2023-09-01 01:01:26,205,72,13.730,...,3.33,0.00,0.0,0.00,35.17,N,N,,N,N
14,HV0003,B03404,B03404,2023-08-31 23:47:30,2023-08-31 23:59:42,2023-09-01 00:00:13,2023-09-01 00:34:18,93,265,20.380,...,8.44,0.00,0.0,0.00,72.27,N,N,,N,N

In [41]:
# Hago esta funcion para eliminar las columnas que no necesito.
def eliminar_columnas(df2):
    # Lista de columnas a eliminar
    columnas = ['shared_request_flag', 'shared_match_flag', 'access_a_ride_flag', 'wav_request_flag', 'wav_match_flag']
    
    # Eliminar las columnas
    df2 = df2.drop(columnas, axis=1)
    return df2

eliminar_columnas(df2)

,hvfhs_license_num,dispatching_base_num,originating_base_num,request_datetime,on_scene_datetime,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,trip_miles,trip_time,base_passenger_fare,tolls,bcf,sales_tax,congestion_surcharge,airport_fee,tips,driver_pay
0,HV0003,B03404,B03404,2023-09-01 00:00:13,2023-09-01 00:02:47,2023-09-01 00:02:56,2023-09-01 00:14:08,7,226,2.350,672,11.57,0.0,0.32,1.03,0.00,0.0,0.00,9.41
1,HV0003,B03404,B03404,2023-09-01 00:27:24,2023-09-01 00:29:32,2023-09-01 00:29:44,2023-09-01 00:59:58,144,36,6.790,1814,29.72,0.0,0.82,2.64,2.75,0.0,7.18,25.97
2,HV0003,B03404,B03404,2023-09-01 00:25:14,2023-09-01 00:27:15,2023-09-01 00:28:01,2023-09-01 00:35:53,186,125,1.610,472,10.89,0.0,0.30,0.97,2.75,0.0,0.00,8.34
3,HV0003,B03404,B03404,2023-09-01 00:31:44,2023-09-01 00:36:51,2023-09-01 00:36:51,2023-09-01 00:46:48,125,148,1.370,597,9.60,0.0,0.26,0.85,0.75,0.0,0.00,7.44
4,HV0003,B03404,B03404,2023-09-01 00:08:33,2023-09-01 00:10:53,2023-09-01 00:12:28,2023-09-01 00:27:47,170,48,1.290,919,16.29,0.0,0.45,1.45,2.75,0.0,0.00,13.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19851118,HV0005,B03406,None,2023-09-30 23:18:57,NaT,2023-09-30 23:26:48,2023-09-30 23:59:21,79,246,3.461,1953,20.62,0.0,0.57,1.83,2.75,0.0,0.00,26.12
19851119,HV0003,B03404,B03404,2023-09-30 23:16:02,2023-09-30 23:22:48,2023-09-30 23:24:00,2023-09-30 23:38:33,181,148,3.120,873,23.44,0.0,0.64,2.08,2.75,0.0,0.00,14.56
19851120,HV0003,B03404,B03404,2023-09-30 23:20:51,2023-09-30 23:41:52,2023-09-30 23:42:26,2023-10-01 00:03:49,148,265,4.270,1283,31.56,20.0,1.42,0.00,0.00,0.0,0.00,26.34
19851121,HV0005,B03406,None,2023-09-30 23:08:50,NaT,2023-09-30 23:15:03,2023-09-30 23:30:43,200,20,4.003,940,21.28,0.0,0.59,1.89,0.00,0.0,0.00,14.22
19851122,HV0005,B03406,None,2023-09-30 23:38:07,NaT,2023-09-30 23:49:49,2023-10-01 00:03:51,47,159,2.978,842,16.95,0.0,0.47,1.51,0.00,0.0,0.00,11.93

En esta sección, he calculado la métrica correspondiente para determinar la distancia total recorrida por un taxi durante el transcurso de un mes.

- Para 'HV0003', la suma total de millas de viaje es aproximadamente 74,112,330 millas.
- Para 'HV0005', la suma total de millas de viaje es aproximadamente 27,001,810 millas. <br>

Estos números representan la distancia total acumulada de millas de viaje para cada licencia de taxi

In [43]:
def calcular_distancia_total(df2):
    # Agrupar por hvfhs_license_num y sumar trip_miles
    distancia_total = df2.groupby('hvfhs_license_num')['trip_miles'].sum()
    return distancia_total

calcular_distancia_total(df2)

hvfhs_license_num
HV0003    7.411233e+07
HV0005    2.700181e+07
Name: trip_miles, dtype: float64